<mat-tab-group class="analyzer" (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Inventory">
    <app-inventory [inventory]="inventory"
                   [selectedWp]="selectedWp"
                   [isInventorySelected]="isInventorySelected"
                   [cols]="20"
                   class="inventory"
    ></app-inventory>
  </mat-tab>
  <mat-tab label="Analyzer">
    <app-grid-analyzer [selectedWp]="selectedWp"
                       [isInventorySelected]="isInventorySelected"
                       [currentGrid]="grid"></app-grid-analyzer>
  </mat-tab>
</mat-tab-group>
<app-panel *ngIf="load" [catalog]="catalog"
           [selectedWp]="selectedWp"
           [isInventorySelected]="isInventorySelected"
           [inventory]="inventory"></app-panel>
