mat-card
  max-width: 95%
  margin-left: auto
  margin-right: auto

mat-card-content
  display: flex
  width: fit-content

mat-card-header
  display: flex

.container-list
  overflow-y: auto
  overflow-x: auto
.container-list::-webkit-scrollbar
  width: 8px
  height: 8px
  border-radius: 30px
  background-color: rgba(0, 0, 0, 0.1)

.container-list::-webkit-scrollbar-thumb
  border-radius: 30px
  background-color: #303030
.center
  align-self: center
app-fragment
  display: flex
  flex-wrap: wrap
  flex-basis: 10%
.options
  margin-left: auto
.timeline
  display: flex
  width: fit-content
  margin-bottom: 20px
.nightmare
  background-color: #424242!important
.no-padding-bottom
  padding-bottom: 0!important
