<mat-card class="container-list generic-background" >
  <mat-card-header>
    <mat-card-title>
      Timeline
    </mat-card-title>
    <mat-card-subtitle>
      {{help}}
    </mat-card-subtitle>
    <div class="options">
      <mat-slide-toggle (change)="canSave($event)">
        <div *ngIf="!saving">
          Enable save
        </div>
        <div *ngIf="saving">
          Disable save
        </div>
      </mat-slide-toggle>
      <button mat-button  matTooltip="Save as image" [disabled]="!saving"
              (click)="save()" *ngIf="this.timeLine.fragment.length">
        <mat-icon *ngIf="saving" color="accent">
          save
        </mat-icon>
        <mat-icon *ngIf="!saving" color="warn">
          save
        </mat-icon>
      </button>
      <button mat-button *ngIf="this.timeLine.fragment.length">
        <mat-icon color="warn" matTooltip="Delete all Nightmares" (click)="delete()">
          delete
        </mat-icon>
      </button>
    </div>

  </mat-card-header>
  <mat-card-content *ngIf="this.timeLine.fragment.length" >
    <div id="schedule" class="generic-background" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" >
      <div class="title">
        <mat-form-field *ngIf="canEdit">
          <input  [(ngModel)]="name" matInput placeholder="Title" #ctrl="ngModel">
        </mat-form-field>
        <h3 *ngIf="name && !canEdit" >{{name}}</h3>
      </div>
     <div class="timeline ">
        <app-fragment  class="nightmare" *ngFor="let fr of timeLine.fragment; let i =index;"
                      [fragment]="fr" (removed)="remove($event)"
                      (updated)="update($event)"
                      (inserted)="insert($event)"
                      [isLast]="timeLine.fragment.length-1 == i"
                      [canEdit]="canEdit"
                      [statusUpdate] = updated
                       [saving]="saving"
                       [first]="!i"
                       (summoner)="changedSummoner()"
                      cdkDrag >

        </app-fragment>
     </div>
    </div>
  </mat-card-content>


</mat-card>

