<mat-card class="container-list generic-background">
  <mat-card-header>
    <mat-card-title>
      Timeline
    </mat-card-title>
    <mat-card-subtitle>
      {{help}}
    </mat-card-subtitle>
    <div class="options">
      <button mat-button (click)="save()" *ngIf="this.timeLine.fragment.length">
        <mat-icon color="accent"   matTooltip="Save as image">
          save
        </mat-icon>
      </button>
      <button mat-button *ngIf="this.timeLine.fragment.length">
        <mat-icon color="warn" matTooltip="Delete all Nightmares" (click)="delete()">
          delete
        </mat-icon>
      </button>
    </div>

  </mat-card-header>
  <mat-card-content>
    <div class="timeline generic-background" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" #timeline>
      <app-fragment  class="generic-background" *ngFor="let fr of timeLine.fragment; let i =index;"
                    [fragment]="fr" (removed)="remove($event)"
                    (updated)="update($event)"
                    (inserted)="insert($event)"
                    [isLast]="timeLine.fragment.length-1 == i"
                    [canEdit]="canEdit"
                    [statusUpdate] = updated
                    cdkDrag >

      </app-fragment>
    </div>
  </mat-card-content>


</mat-card>

