<mat-card>
  <mat-list role="list">
    <mat-list-item    role="listitem" >
      <div  class="mat-caption" matTooltip="Cast time" matTooltipPosition="above">
        {{date(fragment?.begin || 0 ) | date:'mm:ss'}}<mat-icon  [inline]="true" color="warn" >schedule</mat-icon>
      </div>
    </mat-list-item>
    <mat-list-item  *ngIf="fragment?.end?.value != fragment?.activation" role="listitem" >
      <div  class="mat-caption" matTooltip="Pop time" matTooltipPosition="above">
        {{symbol(fragment?.activation || 0)}}{{date(fragment?.activation|| 0 ) | date:'mm:ss'}}
        <mat-icon color="accent"  [inline]="true">alarm</mat-icon>
      </div>
    </mat-list-item>
    <mat-list-item  *ngIf="isLast" role="listitem" >
      <div  class="mat-caption" matTooltip="End time" matTooltipPosition="above">
        {{symbol(fragment?.end?.value || 0)}}{{date(fragment?.end?.value || 0 ) | date:'mm:ss'}}
        <mat-icon color="primary"  [inline]="true">timer_off</mat-icon>
      </div>
    </mat-list-item>
  </mat-list>
  <mat-card-content>
    <img matCardImageSmall *ngIf="img" matTooltipClass="line" [src]="this.img" [matTooltip]="fragment?.nm?.toString() || ''" >
  </mat-card-content>
  <mat-card-actions *ngIf="canEdit">
    <button  mat-icon-button color="accent"(click)="insert()"  matTooltip="Insert a Nightmare">
      <mat-icon [inline]="true" >add</mat-icon>
    </button>
    <button mat-icon-button color="accent"(click)="update()" matTooltip="Change the Nightmare" >
      <mat-icon [inline]="true" >edit</mat-icon>
    </button>
    <button  mat-icon-button color="warn" (click)="delete()" >
      <mat-icon [inline]="true" >delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

