mat-card
  width: 100%
  height: available
mat-list
  display: flex
  flex-flow: row nowrap
  justify-content: center
mat-list-item div
  min-width: 45px
mat-card-content
  display: flex
  flex-flow: column wrap
  align-items: center
  margin-bottom: 0!important
mat-card-actions
  display: flex
  flex-flow: row nowrap
  justify-content: center

.icon
  padding-bottom: 16px!important
.first
  padding-left: 16px!important
.mini
  padding-right: 16px!important
.summoner
  padding: 8px!important
.caster
  padding-bottom: 8px!important
mat-form-field
  padding-top: 8px!important
  width: 50%
