<mat-toolbar color="primary">
  <button mat-button>
    <h1  class="rp" [routerLink]="['']">Nightmare Scheduler</h1>
  </button>

  <div class="  mat-subheading-2" >
    <button  [routerLink]="['ranks']" class="gc" mat-button>
      GC ranks
      <mat-icon>
        military_tech
      </mat-icon>
    </button>

  </div>

  <div class="end mat-subheading-2">
    Edit Mode
    <mat-slide-toggle [disabled]="disabled" (change)="edit($event)" [checked]="canEdit">
      <mat-icon *ngIf="canEdit" color="accent" matTooltip="Edit mode on">
        edit
      </mat-icon>
      <mat-icon *ngIf="!canEdit" color="accent" matTooltip="Edit mode off">
        edit_off
      </mat-icon>
    </mat-slide-toggle>
    <mat-icon matTooltip="Add nightmares to your timeline by double clicking on the icon of the nightmare you want on the panel.

                          Use the filters and search fields to narrow down the list.

                          To edit your timeline make sure Edit mode is active on the top bar." matTooltipClass="line">
      help
    </mat-icon>
  </div>

</mat-toolbar>
<section class="mat-app-background">
  <router-outlet></router-outlet>
</section>

