/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css"
body
  background-color: #303030
.line
  white-space: pre-line
.generic-background
  background-color: #424242!important
.no-space
  padding: 0!important
.debuff-color
  color: #5383A7
.buff-color
  color: #db7342
@media only screen and (max-width: 600px)
  .mat-cell
    font-size: 100%
  .mat-header-cell
    font-size: 100%
